{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- Posts Section -->
      <section class="w-full md:w-2/3 flex flex-col items-center px-3">
        {% for post in latest_posts %}
        <article class="flex flex-col shadow my-4 w-full">
          <a href="#" class="hover:opacity-75"></a>
          <div class="bg-white flex flex-col md:flex-row justify-start p-6">
            <img src="{{ post.file.url }}" alt="Post Image" class="w-full md:w-1/4 h-auto mr-6">
            <div class="flex flex-col justify-start w-full md:w-3/4">
              <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ post.category }}</a>
              <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
              <p class="text-sm pb-3">
                Published on {{ post.date_posted }}
              </p>
              <a href="#" class="pb-6">{{ post.excerpt }}</a>
              <a href="{% url "post" %}" class="uppercase text-gray-800 hover:text-black">繼續閱讀 <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </article>
        {% endfor %}
        <article class="flex flex-col shadow my-4">
          <a href="#" class="hover:opacity-75">
          </a>
          <div class="bg-white flex flex-col md:flex-row justify-start p-6">
            <img src="{% static 'pics/sample-image.jpg' %}" alt="Sample Image" class="w-full md:w-1/4 h-auto mr-6">
            <div class="flex flex-col justify-start w-full md:w-3/4">
              <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
              <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">Lorem Ipsum Dolor Sit Amet Dolor Sit Amet</a>
              <p class="text-sm pb-3">By
                <a href="#" class="font-semibold hover:text-gray-800">David Grzyb</a>, Published on April 25th, 2020
              </p>
              <a href="#" class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit amet posuere magna..</a>
              <a href="#" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </article>

        <article class="flex flex-col shadow my-4">
          <div class="bg-white flex flex-col md:flex-row justify-start p-6">
            <img src="{% static 'pics/sample-image.jpg' %}" alt="Sample Image" class="w-full md:w-1/4 h-auto mr-6">
            <div class="flex flex-col justify-start w-full md:w-3/4">
              <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Automotive, Finance</a>
              <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">Lorem Ipsum Dolor Sit Amet Dolor Sit Amet</a>
              <p class="text-sm pb-3">By
                <a href="#" class="font-semibold hover:text-gray-800">David Grzyb</a>, Published on January 12th, 2020
              </p>
              <a href="#" class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit amet posuere magna..</a>
              <a href="#" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </article>

        <article class="flex flex-col shadow my-4">
          <div class="bg-white flex flex-col md:flex-row justify-start p-6">
            <img src="{% static 'pics/sample-image.jpg' %}" alt="Sample Image" class="w-full md:w-1/4 h-auto mr-6">
            <div class="flex flex-col justify-start w-full md:w-3/4">
              <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Sports</a>
              <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">Lorem Ipsum Dolor Sit Amet Dolor Sit Amet</a>
              <p class="text-sm pb-3">By
                <a href="#" class="font-semibold hover:text-gray-800">David Grzyb</a>, Published on October 22nd, 2019
              </p>
              <a href="#" class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit amet posuere magna..</a>
              <a href="#" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </article>

        <!-- Pagination -->
        <div class="flex items-center py-8">
          <a
            href="#"
            class="h-10 w-10 bg-white bg-opacity-75 border-2 border-textPink text-lg text-textPink py-1 px-2 transition duration-300 ease-in-out hover:bg-textPink hover:text-white font-semibold flex items-center justify-center"
            >1</a
          >
          <a
            href="#"
            class="h-10 w-10 bg-white bg-opacity-75 border-2 text-lg text-textPink py-1 px-2 transition duration-300 ease-in-out hover:bg-textPink hover:text-white font-semibold flex items-center justify-center"
            >2</a
          >
          <a
            href="#"
            class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3"
            >Next <i class="fas fa-arrow-right ml-2"></i
          ></a>
        </div>
      </section>
{% endblock %}
